<!--Section Requirements-->
<section class="container mb-5 mt-4 pt-4">
  <!--Content-->
  <div class="row pt-5">
    <!--First column (requirements)-->
    <div class="col-md-7 mb-2 smooth-scroll wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
      <!--Title-->
      <h2 class="text-uppercase font-weight-bold"> Wejdź do gry</h2>
      <!--/.Title-->
      <!--Subtitle-->
      <p class="text-uppercase font-weight-bold grey-text pb-3">
        <i class="fas fa-square blue-text mr-2"></i> Wymagania sprzętowe
      </p>
      <!--/.Subtitle-->
      <!--Section minimal requirements-->
      <section>
        <p> Minimalne wymagania</p>
        <ul>
          <li>OS: Windows 7, Windows 8, Windows 10, Linux</li>
          <li>Procesor: Pentium 3 1 GHz</li>
          <li>RAM: 2GB</li>
          <li>Dysk twardy: 3GB</li>
          <li>Karta graficzna: 64 MB RAM</li>
          <li>Karta dźwiękowa: DirectX 9.0</li>
        </ul>
      </section>
      <!--/.Section minimal requirements-->
      <!--Section recommented requirements-->
      <section>
        <p> Zalecane wymagania</p>
        <ul>
          <li>OS: Windows 7, Windows 8, Windows 10, Linux</li>
          <li>Procesor: Pentium 3 1 GHz</li>
          <li>RAM: 4GB</li>
          <li>Dysk twardy: 3GB</li>
          <li>Karta graficzna: 256 MB RAM</li>
          <li>Karta dźwiękowa: DirectX 9.0</li>
        </ul>
      </section>
      <!--/.Section recommented requirements-->
      <!--Download button-->
      <button mdbBtn class="btn btn-blue mb-4 mt-4" mdbWavesEffect (click)="openDownloadModal()">
        <mdb-icon fas icon="download" class="px-1"></mdb-icon> Pobierz klienta już teraz<span class="sr-only">(current)</span>
      </button>
      <!--/.Download button-->
    </div>
    <!--/.First column-->
    <!--Second column (picture)-->
    <div class="col-lg-5 flex-center ml-lg-auto col-md-5 mb-5 wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.3s;">
      <img src="../../../assets/other/requirements.jpg" class="img-fluid z-depth-1">
    </div>
    <!--/.Second column-->
  </div>
  <!--/.Content-->
</section>
<!--/.Section Requirements-->
