<!--Section About-->
<section class="container my-5">
  <!-- Title -->
  <h2 class="text-center font-weight-bold mt-5 pt-4 spacing wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
    <strong> O NAS</strong>
  </h2>
  <!--/.Title-->
  <!--Subtitle -->
  <p class="text-center text-uppercase font-weight-bold grey-text mb-5 pb-3 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
    <i class="fas fa-square blue-text mr-2" aria-hidden="true"></i> Dowiedz się więcej
  </p>
  <!--/.Subtitle-->
  <!--Content-->
  <div class="row">
    <!--First column -->
    <div class="col-xl-5 col-lg-6 pb-1 wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">
      <p>Symulator Zawodów Pływackich jest to projekt realizowany w ramach pracy dyplomowej
        ( pt. "Projekt i implementacja gry 3D typu MMORPG z symulacją zawodów pływackich" ) bronionej na
        Politechnice Świętokrzyskiej w Kielcach.
      </p>
      <p>Podczas rozgrywki, gracz wcielał się będzie w sportowca a dokładniej w pływaka
        który właśnie rozpoczyna swoją karierę pływacką.
      </p>
      <p>Zadaniem gracza będzie:</p>
      <ul>
        <li>rozwijanie swojej postaci pod kątem tężyzny fizycznej,</li>
        <li>udział w zawodach pływackich,</li>
        <li>podpisywanie kontraktów z organizacjami sportowymi.</li>
      </ul>
      <p>Wykonywanie zadań będzie skutkowało zdobywaniem punktów, przy czym punkty będą przeliczane
        na odpowiednią pozycje w rankingu graczy.
      </p>
    </div>
    <!--/.First column-->
    <!--Second column -->
    <div class="col-xl-6 ml-lg-auto col-lg-6 mb-5 wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">
      <img src="../../../assets/other/about.jpg" class="img-fluid rounded z-depth-1">
    </div>
    <!--/.Second column-->
  </div>
  <!--/.Content-->
  <hr>
</section>
<!--/.Section About-->
