<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark scrolling-navbar fixed-top" [containerInside]="true">
  <!--Logo-->
  <mdb-navbar-brand class="text-white">
    <a class="logo" routerLink="/home">
      <img class="nav-link animated pulse infinite mb-1" src="../../assets/logo/scs.png" height="40">
    </a>
  </mdb-navbar-brand>
  <!--/.Logo-->
  <!--Links-->
  <links>
    <!--First link list-->
    <ul class="navbar-nav mr-auto">
      <!--First link-->
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/home" mdbWavesEffect>HOME</a>
      </li>
      <!--./First link-->
      <!--Second link-->
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/ranking" mdbWavesEffect>RANKING</a>
      </li>
      <!--/.Second link-->
    </ul>
    <!--./First link list-->
    <!--Second link list-->
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <!--Download modal-->
      <li class="nav-item">
        <a class="nav-link waves-light text-white" (click)="openDownloadModal()" mdbWavesEffect>
          <mdb-icon fas icon="download"></mdb-icon> Pobierz<span class="sr-only">(current)</span>
        </a>
      </li>
      <!--./Download modal-->
      <!--Contact modal-->
      <li class="nav-item">
        <a class="nav-link waves-light text-white" (click)="openContactModal()" mdbWavesEffect>
          <mdb-icon fas icon="envelope"></mdb-icon> Kontakt<span class="sr-only">(current)</span>
        </a>
      </li>
      <!--/.Contact modal-->
      <!--Logged user link list-->
      <ng-container *ngIf="isUserLoggedIn(); else userUnlogged">
        <!--First link-->
        <li class="nav-item">
          <a class="nav-link waves-light text-white" routerLink="/user" mdbWavesEffect>
            <mdb-icon fas icon="user"></mdb-icon> Profil<span class="sr-only">(current)</span>
          </a>
        </li>
        <!--/.First link-->
        <!--Second link-->
        <li class="nav-item">
          <a class="nav-link waves-light text-white" routerLink="/user/shop" mdbWavesEffect>
            <mdb-icon fas icon="shopping-cart"></mdb-icon> Sklep<span class="sr-only">(current)</span>
          </a>
        </li>
        <!--/.Second link-->
        <!--Premium currency value-->
        <li class="nav-item">
          <span class="nav-link text-white">
            <mdb-icon fas icon="hand-holding-usd"></mdb-icon>{{premiumCurrency}}</span>
        </li>
        <!--/.Premium currency value-->
        <!--Logout-->
        <li class="nav-item">
          <a class="nav-link waves-light text-white" (click)="logOut()" mdbWavesEffect>
            <mdb-icon fas icon="sign-out-alt"></mdb-icon> Wyloguj się<span class="sr-only">(current)</span>
          </a>
        </li>
        <!--/.Logout-->
      </ng-container>
      <!--/.Logged user link list-->
      <!--Unlogged user modal list-->
      <ng-template #userUnlogged>
        <!--Register modal-->
        <li class="nav-item">
          <a class="nav-link waves-light text-white" (click)="openRegisterModal()" mdbWavesEffect>
            <mdb-icon fas icon="user-plus"></mdb-icon> Rejstracja<span class="sr-only">(current)</span>
          </a>
        </li>
        <!--/.Register modal-->
        <!--Login modal-->
        <li class="nav-item">
          <a class="nav-link waves-light text-white" (click)="openLoginModal()" mdbWavesEffect>
            <mdb-icon fas icon="user-check"></mdb-icon> Logowanie<span class="sr-only">(current)</span>
          </a>
        </li>
        <!--/.Login modal-->
      </ng-template>
      <!--/.Unlogged user modal list-->
    </ul>
    <!--/.Second link list-->
  </links>
  <!--/.Links-->
</mdb-navbar>
<!--/.Navbar-->
