<!--Section Services-->
<section class="container mt-5 mb-3 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
  <!--Content-->
  <div class="row mt-5 pt-5 pb-3">
    <!--First column-->
    <div class="col-lg-3 col-md-6">
      <h4 class="font-weight-bold mb-4">
        <strong class="font-weight-bold">
          <i class="fas fa-square blue-text mr-2" aria-hidden="true"></i>
        </strong>
        Nasze Usługi
      </h4>
      <p class="dark-grey-text">
        Serwis SCS oferuje usługi pozwalające graczom rozpocząć gre w trybie
        wieloosobowym, śledzić pozycje w rankingu czy też na zakupy w naszym serwisie
      </p>
    </div>
    <!--/.First column-->
    <!--Second column-->
    <div class="col-lg-3 col-md-6 mb-4">
      <img src="../../../assets/other/register.jpg" class="img-fluid">
      <h5 class="font-weight-bold dark-grey-text mt-4 mb-3">
        <mdb-icon fas icon="users" class="pr-2"></mdb-icon> Rejestracja
      </h5>
      <p align="justify" class="font-small">
        Stwórz darmowe konto, zacznij rywalizować z innymi graczami i zostań numerem 1.
      </p>
    </div>
    <!--/.Second column-->
    <!--Third column-->
    <div class="col-lg-3 col-md-6">
      <img src="../../../assets/other/shop.jpg" class="img-fluid">
      <h5 class="font-weight-bold dark-grey-text mt-4 mb-3">
        <mdb-icon fas icon="shopping-cart" class="pr-2"></mdb-icon> Sklep
      </h5>
      <p align="justify" class="font-small">
        Serwis zawiera sklep w którym możesz zaopatrzyć swoją postać w przedmioty i usługi.
      </p>
    </div>
    <!--/.Third column-->
    <!--Fourth column-->
    <div class="col-lg-3 col-md-6">
      <img src="../../../assets/other/ranking.jpg" class="img-fluid">
      <h5 class="font-weight-bold dark-grey-text mt-4 mb-3">
        <mdb-icon fas icon="trophy" class="pr-2"></mdb-icon>Ranking
      </h5>
      <p align="justify" class=" font-small">
        Sprawdź swoje miejsce w rankingu i zobacz ile brakuje ci by zostać liderem.
      </p>
    </div>
    <!--/.Fourth column-->
  </div>
  <!--/.Content-->
</section>
<!--/.Section Services-->
