<!--Home-->
<div>
  <!--Header-->
  <header>
    <!--Navbar-->
    <app-navbar></app-navbar>
    <!--/.Navbar-->
    <!--Intro-->
    <app-intro height="100vh" backgroundImageUrl="url('/../../assets/intro/home.jpg')">
      <div intro-header>Symulator zawodów pływackich</div>
      <div intro-subtext>Wejdź do gry i poznaj świat SCS</div>
    </app-intro>
    <!--/.Intro-->
  </header>
  <!--/.Header-->
  <!--Content-->
  <main>
    <!--About-->
    <app-about></app-about>
    <!--/.About-->
    <!--Services-->
    <app-services></app-services>
    <!--/.Services-->
    <!--Start Server-->
    <app-start-server></app-start-server>
    <!--/.Start Server-->
    <!--Requirements-->
    <app-requirements></app-requirements>
    <!--/.Requirements-->
  </main>
  <!--/.Content-->
  <!--Footer-->
  <footer>
    <!--Footer Section -->
    <app-footer></app-footer>
    <!--/.Footer Section-->
  </footer>
  <!--Footer-->
</div>
<!--Home-->
